/** webchatui common */
*{box-sizing:border-box;}
body{line-height:24px;font:14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif}
img{display:inline-block;vertical-align:middle}
h1,h2,h3,h4,h5,h6{font-weight:400}
h4,h5,h6{font-size:100%}
blockquote,body,button,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}
a:active,a:hover{outline:0}
img{border:none}
li{list-style:none}
table{border-collapse:collapse;border-spacing:0}
button,input,optgroup,option,select,textarea{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;outline:0}
hr{height:1px;margin:10px 0;border:0;clear:both}
a{color:#333;text-decoration:none}
a:hover{color:#777}
@font-face {font-family: 'FontAwesome';src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight: normal;font-style: normal;}
.webchat-ico{display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.webchat-ico-angle-right:before{content: "\f105";}
.webchat-ico-history:before{content: "\f27a";}
.webchat-ico-user:before {content: "\f007";}
.webchat-ico-group:before{content: "\f0c0";}
.webchat-ico-search:before{content: "\f002";}
.webchat-ico-bell:before{content: "\f0f3";}
.webchat-ico-add:before{content: "\f234";}
.webchat-ico-skin:before{content: "\f1a5";}
.webchat-ico-about:before{content: "\f29c";}
.webchat-ico-close:before{content: "\f057";}
.webchat-ico-minimize:before{content: "\f056";}
.webchat-ico-check:before{content: "\f00c";}
.webchat-ico-circle:before{content: "\f111";}
.webchat-ico-clock-o:before{content: "\f017";}
.webchat-ico-angle-down:before{content: "\f107";}